/hello-word/target/
/variaveis/target/
/variaveis/nbproject/private/
/variaveis/build/
/caracteres/nbproject/private/
/caracteres/build/
/Condicoes/nbproject/private/
/condicional/nbproject/private/
/condicional/build/
/boolean/nbproject/private/
/boolean/build/
/escopo/nbproject/private/
/repeticao/nbproject/private/
/repeticao/build/
/bytebank/nbproject/private/
/bytebank/build/
/empresa/nbproject/private/
/empresa/build/
/Exercicios/nbproject/private/
/Exercicios/build/
/gerenciador-de-cursos/nbproject/private/
/gerenciador-de-cursos/build/
/vendas-produtos-crud/nbproject/private/
/vendas-produtos-crud/build/
