/hello-word/target/
/variaveis/target/
/variaveis/nbproject/private/
/variaveis/build/
/caracteres/nbproject/private/
/caracteres/build/
/Condicoes/nbproject/private/
/condicional/nbproject/private/
/condicional/build/
/boolean/nbproject/private/
/boolean/build/
/escopo/nbproject/private/
/repeticao/nbproject/private/
/repeticao/build/
/bytebank/nbproject/private/
/bytebank/build/
