.conteudo {
    margin: auto;
    width: 75%;
    background: #CCCCCC;
}

.formulario {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    margin: auto;
    color: black;
}